/* -------------------------------------------------------------------------- */


/*                                   General                                  */


/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */


/*                                 Navegacion                                 */


/* -------------------------------------------------------------------------- */

#logo {
    width: 5%;
}


/* -------------------------------------------------------------------------- */


/*                           Configuración regional                           */


/* -------------------------------------------------------------------------- */

#contenedorMonedas {
    width: 150px;
}

#contenedorPaises {
    width: 200px;
}